body {
	background: #c2efef;
	font-family: 'Quicksand', sans-serif;
}

h1 {
	color: ghostwhite;
    text-shadow: 1px 1px 2px #737373, 0 0 25px lightgray, 0 0 5px lightgray;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    margin: 34px;
}

p {
	margin: auto;
	color: #737373;
}

.gif {
	margin-top: 20px;

}

.btn-lg {
	background: ghostwhite;
	box-shadow: 4px 4px 3px lightgrey;
	color: #737373;
	margin: 5px;

}

#input-form {
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 5px;
	color: #737373;
}

#add-button {
	margin-top: 200px;
	margin: auto 0;
	color: #ff6699;
	background: ghostwhite;

}
